@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #0f172a;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cairo;
}

body {
  background-color: #111827 ;
  font-family: 'cairo';
}


